= simple_form_for @user do |f|
  #input
    = f.input :name
    = f.input :email
    = f.input :company
    = f.input :bio
    = f.input :logo
    = f.input :street1
    = f.input :street2
    = f.input :city
    = f.input :state
    = f.input :zip
    = f.button :submit, "Save Changes"