.index-header#categories
  %p Community Needs
  %ul
    %a{:href => "#books" }
      %li
        %i.fa.fa-book
        %p Books
    %a{:href => "#canned-goods" }
      %li
        %i.fa.fa-shopping-cart
        %p Canned Goods
    %a{:href => "#clothes" }
      %li
        %i.fa.fa-female
        %p Clothes
    %a{:href => "#furniture" }
      %li
        %i.fa.fa-bed
        %p Furniture
    %a{:href => "#school-supplies" }
      %li
        %i.fa.fa-pencil
        %p School Supplies
    %a{:href => "#technology" }
      %li
        %i.fa.fa-laptop
        %p Technology
    %a{:href => "#other" }
      %li
        %i.fa.fa-plus
        %p Other

%hr
.index-header
  %p Non-Profits Involved

- @users.each do |user|
  .hover-tile-outer{ :style => "background-image: url(#{user.logo})" }
    .hover-tile-container
      .hover-tile.hover-tile-visible
      .hover-tile.hover-tile-hidden
        = link_to "#{user.company}", user_path(user)
        %p Member Since:
        %p #{user.created_at.month}-#{user.created_at.day}-#{user.created_at.year}

%hr

.index-header#books
  %i.fa.fa-book
  %p Books
- @posts_books.each do |post|
  .hover-tile-outer{ :style => "background-image: url(#{post.user.logo})" }
    .hover-tile-container
      .hover-tile.hover-tile-visible
      .hover-tile.hover-tile-hidden
        = link_to "#{post.user.company}", user_posts_path(post.user, post)
        %p Posted: #{post.created_at.month}-#{post.created_at.day}-#{post.created_at.year}
%br
.arrow-up
  %a{:href => "#top"}
    %i.fa.fa-angle-double-up
%hr

.index-header#canned-goods
  %i.fa.fa-shopping-cart
  %p Canned Goods
- @posts_canned_goods.each do |post|
  .hover-tile-outer{ :style => "background-image: url(#{post.user.logo})" }
    .hover-tile-container
      .hover-tile.hover-tile-visible
      .hover-tile.hover-tile-hidden
        = link_to "#{post.user.company}", user_posts_path(post.user, post)
        %p Posted: #{post.created_at.month}-#{post.created_at.day}-#{post.created_at.year}
%br
.arrow-up
  %a{:href => "#top"}
    %i.fa.fa-angle-double-up
%hr

.index-header#clothes
  %i.fa.fa-female
  %p Clothes
- @posts_clothes.each do |post|
  .hover-tile-outer{ :style => "background-image: url(#{post.user.logo})" }
    .hover-tile-container
      .hover-tile.hover-tile-visible
      .hover-tile.hover-tile-hidden
        = link_to "#{post.user.company}", user_posts_path(post.user, post)
        %p Posted: #{post.created_at.month}-#{post.created_at.day}-#{post.created_at.year}
%br
.arrow-up
  %a{:href => "#top"}
    %i.fa.fa-angle-double-up
%hr

.index-header#furniture
  %i.fa.fa-bed
  %p Furniture
- @posts_furniture.each do |post|
  .hover-tile-outer{ :style => "background-image: url(#{post.user.logo})" }
    .hover-tile-container
      .hover-tile.hover-tile-visible
      .hover-tile.hover-tile-hidden
        = link_to "#{post.user.company}", user_posts_path(post.user, post)
        %p Posted: #{post.created_at.month}-#{post.created_at.day}-#{post.created_at.year}
%br
.arrow-up
  %a{:href => "#top"}
    %i.fa.fa-angle-double-up
%hr

.index-header#school-supplies
  %i.fa.fa-pencil
  %p School Supplies
- @posts_school.each do |post|
  .hover-tile-outer{ :style => "background-image: url(#{post.user.logo})" }
    .hover-tile-container
      .hover-tile.hover-tile-visible
      .hover-tile.hover-tile-hidden
        = link_to "#{post.user.company}", user_posts_path(post.user, post)
        %p Posted: #{post.created_at.month}-#{post.created_at.day}-#{post.created_at.year}
%br
.arrow-up
  %a{:href => "#top"}
    %i.fa.fa-angle-double-up
%hr

.index-header#technology
  %i.fa.fa-laptop
  %p Technology
- @posts_technology.each do |post|
  .hover-tile-outer{ :style => "background-image: url(#{post.user.logo})" }
    .hover-tile-container
      .hover-tile.hover-tile-visible
      .hover-tile.hover-tile-hidden
        = link_to "#{post.user.company}", user_posts_path(post.user, post)
        %p Posted: #{post.created_at.month}-#{post.created_at.day}-#{post.created_at.year}
%br
.arrow-up
  %a{:href => "#top"}
    %i.fa.fa-angle-double-up
%hr

.index-header#other
  %i.fa.fa-plus
  %p Other
- @posts_other.each do |post|
  .hover-tile-outer{ :style => "background-image: url(#{post.user.logo})" }
    .hover-tile-container
      .hover-tile.hover-tile-visible
      .hover-tile.hover-tile-hidden
        = link_to "#{post.user.company}", user_posts_path(post.user, post)
        %p Posted: #{post.created_at.month}-#{post.created_at.day}-#{post.created_at.year}
%br
.arrow-up
  %a{:href => "#top"}
    %i.fa.fa-angle-double-up