- if !logged_in?
  .index-header.mission
    %i.fa.fa-building
    %p.mission-title Non-Profit?
    %p.mission-title
      = link_to 'Sign up', new_user_path
      to make your needs visible to the community.
    %p.mission-sub-title Once signed up, you can post and manage your needs

    %a{:href => '#who-gives'}
      %i.fa.fa-angle-down

  %hr#who-gives

  .index-header.mission
    %p.mission-title Who Gives?
    %p.mission-title GIVE AWAY for GOOD was created to inspire Nashville dwellers to give away unused belongings for the betterment of the community.

    .examples
      %ul
        %li
          %i.fa.fa-female
          %p.mission-sub-title Have a pile of clothes you never wear and would otherwise trash?
        %li
          %i.fa.fa-bed
          %p.mission-sub-title Redesigning your interior and purging old furniture?
        %li
          %i.fa.fa-book
          %p.mission-sub-title Old text books stacking up in the corner of your room?

    %p.mission-title You can give.

    %a{:href => '#why-give'}
      %i.fa.fa-angle-down

  %hr#why-give

  .index-header.mission
    %p.mission-title Why give?
    %p.mission-title Being an engaged community member means giving back to those in need.
    %p.mission-sub-title Browse Needs by Non-Profit or by Category to Get Started

    .categories
      %ul
        %a{:href => '#non-profits'}
          %li
            %i.fa.fa-building
            %p Needs by Non-Profit
        %a{:href => '#categories'}
          %li
            %i.fa.fa-tasks
            %p Needs by Category
  %hr

.index-header#non-profits
  %p.mission-title Non-Profits
  %p.mission-sub-title Select a non-profit to view its profile and current needs

- @users.each do |user|
  .hover-tile-outer{ :style => "background-image: url(#{user.logo})" }
    .hover-tile-container
      .hover-tile.hover-tile-visible
      .hover-tile.hover-tile-hidden
        = link_to "#{user.company}", user_path(user)
        %p Member Since:
        %p #{user.created_at.month}-#{user.created_at.day}-#{user.created_at.year}

.arrow-up
  %a{:href => "#top"}
    %i.fa.fa-angle-up

.grey
  %hr
  .index-header.categories#categories
    %p.mission-title Community Needs
    %p.mission-sub-title Select a category to view its listings

    %ul
      %a{:href => "#books" }
        %li
          %i.fa.fa-book
          %p Books
      %a{:href => "#canned-goods" }
        %li
          %i.fa.fa-shopping-cart
          %p Canned Goods
      %a{:href => "#clothes" }
        %li
          %i.fa.fa-female
          %p Clothes
      %a{:href => "#furniture" }
        %li
          %i.fa.fa-bed
          %p Furniture
      %a{:href => "#school-supplies" }
        %li
          %i.fa.fa-pencil
          %p School Supplies
      %a{:href => "#technology" }
        %li
          %i.fa.fa-laptop
          %p Technology
      %a{:href => "#other" }
        %li
          %i.fa.fa-plus
          %p Other
    .arrow-up
      %a{:href => "#top"}
        %i.fa.fa-angle-up

  %hr

.grey
  %hr
  .index-header#books.category
    %i.fa.fa-book
    %p Books
  - if @posts_books.empty?
    %p.mission-sub-title There aren't any needs in this category yet.
  -else
    - @posts_books.each do |post|
      .hover-tile-outer{ :style => "background-image: url(#{post.user.logo})" }
        .hover-tile-container
          .hover-tile.hover-tile-visible
          .hover-tile.hover-tile-hidden
            = link_to "#{post.user.company}", user_posts_path(post.user, post)
            %p Posted: #{post.created_at.month}-#{post.created_at.day}-#{post.created_at.year}
  %br
  .arrow-up
    %a{:href => "#categories"}
      %i.fa.fa-angle-up
  %hr

.index-header#canned-goods.category
  %i.fa.fa-shopping-cart
  %p Canned Goods
- if @posts_canned_goods.empty?
  %p.mission-sub-title There aren't any needs in this category yet.
- else
  - @posts_canned_goods.each do |post|
    .hover-tile-outer{ :style => "background-image: url(#{post.user.logo})" }
      .hover-tile-container
        .hover-tile.hover-tile-visible
        .hover-tile.hover-tile-hidden
          = link_to "#{post.user.company}", user_posts_path(post.user, post)
          %p Posted: #{post.created_at.month}-#{post.created_at.day}-#{post.created_at.year}
%br
.arrow-up
  %a{:href => "#categories"}
    %i.fa.fa-angle-up


.grey
  %hr
  .index-header#clothes.category
    %i.fa.fa-female
    %p Clothes
  - if @posts_clothes.empty?
    %p.mission-sub-title There aren't any needs in this category yet.
  - else
    - @posts_clothes.each do |post|
      .hover-tile-outer{ :style => "background-image: url(#{post.user.logo})" }
        .hover-tile-container
          .hover-tile.hover-tile-visible
          .hover-tile.hover-tile-hidden
            = link_to "#{post.user.company}", user_posts_path(post.user, post)
            %p Posted: #{post.created_at.month}-#{post.created_at.day}-#{post.created_at.year}
  %br
  .arrow-up
    %a{:href => "#categories"}
      %i.fa.fa-angle-up
  %hr

.index-header#furniture.category
  %i.fa.fa-bed
  %p Furniture
- if @posts_furniture.empty?
  %p.mission-sub-title There aren't any needs in this category yet.
- else
  - @posts_furniture.each do |post|
    .hover-tile-outer{ :style => "background-image: url(#{post.user.logo})" }
      .hover-tile-container
        .hover-tile.hover-tile-visible
        .hover-tile.hover-tile-hidden
          = link_to "#{post.user.company}", user_posts_path(post.user, post)
          %p Posted: #{post.created_at.month}-#{post.created_at.day}-#{post.created_at.year}
%br
.arrow-up
  %a{:href => "#categories"}
    %i.fa.fa-angle-up

.grey
  %hr
  .index-header#school-supplies.category
    %i.fa.fa-pencil
    %p School Supplies
  - if @posts_school.empty?
    %p.mission-sub-title There aren't any needs in this category yet.
  - else
    - @posts_school.each do |post|
      .hover-tile-outer{ :style => "background-image: url(#{post.user.logo})" }
        .hover-tile-container
          .hover-tile.hover-tile-visible
          .hover-tile.hover-tile-hidden
            = link_to "#{post.user.company}", user_posts_path(post.user, post)
            %p Posted: #{post.created_at.month}-#{post.created_at.day}-#{post.created_at.year}
  %br
  .arrow-up
    %a{:href => "#categories"}
      %i.fa.fa-angle-up
  %hr

.index-header#technology.category
  %i.fa.fa-laptop
  %p Technology
- if @posts_technology.empty?
  %p.mission-sub-title There aren't any needs in this category yet.
- else
  - @posts_technology.each do |post|
    .hover-tile-outer{ :style => "background-image: url(#{post.user.logo})" }
      .hover-tile-container
        .hover-tile.hover-tile-visible
        .hover-tile.hover-tile-hidden
          = link_to "#{post.user.company}", user_posts_path(post.user, post)
          %p Posted: #{post.created_at.month}-#{post.created_at.day}-#{post.created_at.year}
%br
.arrow-up
  %a{:href => "#categories"}
    %i.fa.fa-angle-up

.grey
  %hr
  .index-header#other.category
    %i.fa.fa-plus
    %p Other
  - if @posts_other.empty?
    %p.mission-sub-title There aren't any needs in this category yet.
  - else
    - @posts_other.each do |post|
      .hover-tile-outer{ :style => "background-image: url(#{post.user.logo})" }
        .hover-tile-container
          .hover-tile.hover-tile-visible
          .hover-tile.hover-tile-hidden
            = link_to "#{post.user.company}", user_posts_path(post.user, post)
            %p Posted: #{post.created_at.month}-#{post.created_at.day}-#{post.created_at.year}
  %br
  .arrow-up
    %a{:href => "#categories"}
      %i.fa.fa-angle-up