.index-header
  %p How it Works
%p Give Away for Good was created to help connect communities with local non-profit needs.
%p Non-profits sign up to make a post.
%p Community members can browse to view non-profits and their timely needs.

%hr

.index-header
  %p Non-Profits Involved

- @users.each do |user|
  .hover-tile-outer{ :style => "background-image: url(#{user.logo})" }
    .hover-tile-container
      .hover-tile.hover-tile-visible
      .hover-tile.hover-tile-hidden
        = link_to "#{user.company}", user_path(user)
        %p Member Since:
        %p #{user.created_at.month}-#{user.created_at.day}-#{user.created_at.year}

%hr

.index-header
  %p Needs by Category


.index-header
  %p Books
- @posts_books.each do |post|
  .hover-tile-outer{ :style => "background-image: url(#{post.user.logo})" }
    .hover-tile-container
      .hover-tile.hover-tile-visible
      .hover-tile.hover-tile-hidden
        = link_to "#{post.user.company}", user_posts_path(post.user, post)
        %p Posted: #{post.created_at.month}-#{post.created_at.day}-#{post.created_at.year}

.index-header
  %p Canned Goods
- @posts_canned_goods.each do |post|
  .hover-tile-outer{ :style => "background-image: url(#{post.user.logo})" }
    .hover-tile-container
      .hover-tile.hover-tile-visible
      .hover-tile.hover-tile-hidden
        = link_to "#{post.user.company}", user_posts_path(post.user, post)
        %p Posted: #{post.created_at.month}-#{post.created_at.day}-#{post.created_at.year}

.index-header
  %p Clothes
- @posts_clothes.each do |post|
  .hover-tile-outer{ :style => "background-image: url(#{post.user.logo})" }
    .hover-tile-container
      .hover-tile.hover-tile-visible
      .hover-tile.hover-tile-hidden
        = link_to "#{post.user.company}", user_posts_path(post.user, post)
        %p Posted: #{post.created_at.month}-#{post.created_at.day}-#{post.created_at.year}

.index-header
  %p Furniture
- @posts_furniture.each do |post|
  .hover-tile-outer{ :style => "background-image: url(#{post.user.logo})" }
    .hover-tile-container
      .hover-tile.hover-tile-visible
      .hover-tile.hover-tile-hidden
        = link_to "#{post.user.company}", user_posts_path(post.user, post)
        %p Posted: #{post.created_at.month}-#{post.created_at.day}-#{post.created_at.year}

.index-header
  %p School Supplies
- @posts_school.each do |post|
  .hover-tile-outer{ :style => "background-image: url(#{post.user.logo})" }
    .hover-tile-container
      .hover-tile.hover-tile-visible
      .hover-tile.hover-tile-hidden
        = link_to "#{post.user.company}", user_posts_path(post.user, post)
        %p Posted: #{post.created_at.month}-#{post.created_at.day}-#{post.created_at.year}

.index-header
  %p Technology
- @posts_technology.each do |post|
  .hover-tile-outer{ :style => "background-image: url(#{post.user.logo})" }
    .hover-tile-container
      .hover-tile.hover-tile-visible
      .hover-tile.hover-tile-hidden
        = link_to "#{post.user.company}", user_posts_path(post.user, post)
        %p Posted: #{post.created_at.month}-#{post.created_at.day}-#{post.created_at.year}

.index-header
  %p Other
- @posts_other.each do |post|
  .hover-tile-outer{ :style => "background-image: url(#{post.user.logo})" }
    .hover-tile-container
      .hover-tile.hover-tile-visible
      .hover-tile.hover-tile-hidden
        = link_to "#{post.user.company}", user_posts_path(post.user, post)
        %p Posted: #{post.created_at.month}-#{post.created_at.day}-#{post.created_at.year}