%h1 Sign Up

#sign-up-form
  = simple_form_for @user do |f|
    #input
      = f.input :name
      = f.input :email
      = f.input :password
      = f.input :password_confirmation
      = f.input :company
      = f.input :bio
      = f.input :street1
      = f.input :street2
      = f.input :city
      = f.input :state
      = f.input :zip
      = f.button :submit, "Sign Up"