.profile-title
  %h4 #{@user.company}

.side-image
  .images-wrapper
    %img(src="#{@user.logo}")
  .side-image-content
    %h1 #{@user.bio}
    %p #{@user.street1}
    %p #{@user.street2}
    %p #{@user.city}, #{@user.state} #{@user.zip}
    %p Contact: #{@user.name}
    %p Email: #{@user.email}
    - if current_user == @user
      =link_to "Edit Profile", edit_user_path(current_user)
    %br
    =link_to "All Listings", user_posts_path(@user)