.profile-title
  %h4 #{@user.company}
  %a{:href => user_posts_path(@user)}
    %p.user-show-link
      %i.fa.fa-eye
      View Needs

.side-image
  .images-wrapper
    %img(src="#{@user.logo}")
  .side-image-content
    %p #{@user.street1}
    %p #{@user.street2}
    %p #{@user.city}, #{@user.state} #{@user.zip}
    %p Contact: #{@user.name}
    %p Email: #{@user.email}
    %p #{@user.bio}
    - if current_user == @user
      %a{:href => edit_user_path(current_user)}
        .user-show-link
          %i.fa.fa-pencil
          Edit