.index-header
  %p #{@user.company}'s Listings

- if @posts.empty?
  %p
    #{@user.company} hasn't added any needs yet.
- else
  %ul
    - @posts.each do |post|
      #needs-index
        = link_to "#{post.category}", user_post_path(post.user, post)

= link_to "Back to All Listings", root_path