!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Give Away For Good
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body#container
    %header
      .navigation
        .title
          %p=link_to "GIVE AWAY for GOOD", root_path
        %ul
          - if !logged_in?
            - unless controller_name == "users" && action_name != "index"
              %li= link_to "Sign Up", new_user_path
            - unless controller_name == "user_sessions"
              %li= link_to "Sign In", new_user_session_path
          - else
            %li= link_to "Sign Out", user_session_path, method: :delete
          %li Non-Profits:
      #js-parallax-window.parallax-window
        .parallax-static-content
          %p Connecting Nashville with Local Non-Profit Needs
          %p.mission-sub-title BROWSE:
          %ul.nav-give-by
            %a{:href => '#non-profits'}
              %li Needs by Non-Profit
            %a{:href => '#categories'}
              %li Needs by Category
        #js-parallax-background.parallax-background
      .menu-bar-bottom#top
        - if !logged_in?
          .what-is-this
            %a.arrow{:href => '#top'}
              %p Learn More
              %i.fa.fa-angle-down
        - if logged_in?
          %ul
            %a{:href => user_path(current_user)}
              %li
                %i.fa.fa-user
                #{current_user.company}
            %a{:href => new_post_path}
              %li
                %i.fa.fa-plus
                Add Need
            %a{:href => user_posts_path(current_user)}
              %li
                %i.fa.fa-eye
                My Needs

    %p.notice= notice
    %p.alert= alert
    = yield

    %footer.footer-2{:role => "contentinfo"}